{% extends "blogApp/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<div class="container p-3">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2"></div>
        <div class="col-md-auto">

            <h1>Acerca de los integrantes del Grupo:</h1>

        </div>
        <div class="col col-lg-2"></div>
    </div>
</div>

<div class="container p-3">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2"></div>
        <div class="col-md-auto">
            
            <h3>Nicolas Benini</h3>
            <p>Contador recibido de la Universidad Nacional de La Pampa y Magister en Finanzas realizado en la Universidad del Centro Estadístico Macroeconómico Argentino (UCEMA). Actualmente me encuentro trabajando en Banco de La Pampa S.E.M desempeñando el rol de Subgerente de Riesgo Crediticio y realizando un proceso de mejora continua en el otorgamiento de créditos a clientes.</p>
        
        </div>
        <div class="col col-lg-2"></div>
    </div>
</div>

<div class="container p-3">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2"></div>
        <div class="col-md-auto">
            
            <h3>Nicolas Boscasso</h3>
            <p>Estudiante de Administracion de Empresas en la Universidad Nacional de Córdoba, actualmente haciendo cursos de Python y Django en CoderHouse. Actualmente desarrollo tareas administrativas en el Ministerio de Hábitat y Economía Familiar de Córdoba.</p>
        
        </div>
        <div class="col col-lg-2"></div>
    </div>
</div>

{% endblock %}