{% extends "blogApp/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Formulario Articulo</title>
</head>
<body style="background-color: lightgreen;">
    <h1>Formulario creacion Articulo</h1>
    <form action="/blogApp/formulario_articulo/" method="POST">{% csrf_token %}
        <p>Titulo: <input type="text" name="titulo"> </p>
        <p>Texto: <input type="text" name="texto"> </p>
        <p>Fecha: <input type="date" name="fecha"> </p>
        <input type="submit" value="Guardar Articulo">
    </form>
</body>
</html>

{% endblock %}