{% extends "blogApp/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Formulario Seccion</title>
</head>
<body style="background-color: lightblue;">
    <h1>Formulario creacion Seccion</h1>
    <form action="/blogApp/formulario_seccion/" method="POST">{% csrf_token %}
        <p>Nombre: <input type="text" name="nombre"> </p>
        <input type="submit" value="Guardar Seccion">
    </form>
</body>
</html>

{% endblock %}