{% extends "blogApp/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Formulario Autor</title>
</head>
<body style="background-color: lightsalmon;">
    <h1>Formulario creacion Autor</h1>
    <form action="/blogApp/formulario_autor/" method="POST">{% csrf_token %}
        <p>Nombre: <input type="text" name="nombre"> </p>
        <p>Alias: <input type="text" name="alias"> </p>
        <p>Profesion: <input type="text" name="profesion"> </p>
        <input type="submit" value="Guardar Autor">
    </form>
</body>
</html>

{% endblock %}