{% extends "blogApp/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<body style="background-color: lightgreen;">
    <p>Articulo "{{ titulo }}" no encontrado</p>

    {% if articulo_encontrado %}

    <ul>
    {% for info_articulo_encontrado in articulo_encontrado %}
        <li>Titulo: {{info_articulo_encontrado.titulo}} (titulo {{info_articulo_encontrado.titulo}})</li>
        <li>Texto: {{info_articulo_encontrado.texto}}</li>
        <li>Fecha Publicación: {{info_articulo_encontrado.fecha}}</li>
    {% endfor %}
    </ul>

    {% endif %}
</body>

{% endblock %}